#navContainer {
    border-bottom: 5px solid lightcoral;
    display: flex;
    align-items: center;
    align-content: center;
    height: 70px;
}
#header {
    margin-left: 2rem;
    display: flex;
    flex-grow: 1;
    align-items: center;
    align-content: center;
}
#headerLabel1 {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 1rem;
    color: rosybrown;
}
#headerLabel2 {
    display: none;
    font-size: 1.4rem;
    font-weight: 800;
    margin-left: 1rem;
    color: rosybrown;
}
#options {
    float: right;
    margin-right: 7vh;
}
.optionsButton {
    font-weight: 600;
    font-size: 20px;
    color: dimgrey;
}
.selectedIndicator {
    height: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
}
#optionsDropdown {
    display: none;
    margin-right: 1.5rem;
    font-size: 20px;
    float: right;
}
.menuButton {
    font-weight: 500;
    color: lightcoral;
}

@media only screen and (max-width: 768px) {
    #optionsDropdown {
        display: block;
    }
    #options {
        display: none;
    }
    #headerLabel1 {
        display: none;
    }
    #headerLabel2 {
        display: inline-block;
    }
}